<template>
<!DOCTYPE html>
<meta charset="utf-8">
<title>Observer - {{ .Title }}</title>
<script src="/{{ .AssetDir }}/js/chart.js"></script>
<script src="/{{ .AssetDir }}/js/main.js"></script>
<link rel="stylesheet" href="/{{ .AssetDir }}/css/main.css">
</template>
